# Залежності (ті самі, що ти щойно встановив)
node_modules/
prisma/
# Конфіденційні дані (твоє посилання на базу Neon та JWT_SECRET)
.env

# Логи та тимчасові файли
npm-debug.log*
.DS_Store

# Prisma (якщо будеш генерувати клієнт локально)
/prisma/client-lib
/generated/prisma
