  @import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
  :root {
    --bg-blue: #242fa7;
    --bg-dark: #1E1E1E;
    --btn-beige: #D6C2A5;
    --btn-shadow: #8C7B66;
    --text-brown: #4A3B2A;
    --white: #ffffff;
    --accent-red: #FF4757;
    --main-font: 'Chela One', system-ui;
  }
@property --gradient-percent {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 30%;
}
*{
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
}
#root{
  width: 100%;
}
.App {
  background: radial-gradient(ellipse at 50% 50%, var(--bg-blue) var(--gradient-percent), var(--bg-dark) 100%);
  animation: pulse 3s infinite alternate ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  font-family: var(--main-font);
}
.main-menu{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 20px;
  gap: 20px;
}
  .menu-btn {
    font-family: var(--main-font);
    background-color: var(--btn-beige);
    color: var(--text-brown);
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 2rem;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0px 5px 0px var(--btn-shadow);
    transition: transform 0.1s, box-shadow 0.1s;
  }
  .menu-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 7px 0px var(--btn-shadow);
  }
  .menu-btn:active {
    transform: translateY(3px);
    box-shadow: 0px 2px 0px var(--btn-shadow);
  }
.logo {
  min-width: 250px;
  width: 30vw;
  height: auto;
  margin-bottom: 20px;
} 
@keyframes pulse {
  from {
    --gradient-percent: 10%;
  }
  to {
    --gradient-percent: 20%;
  }
}